services:
  app:
    build: .
    container_name: library_backend
    restart: unless-stopped
    ports:
      - "${PORT}:3000"
      # must override the DATABASE_URL variable because the "localhost" that is defiend in the .env
      # will not work here, because the db service is running in a different container
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?schema=public
    volumes:
      # bind mounts (to be removed in production)
      - ./src:/app/src
      - ./.env:/app/.env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:17-alpine
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
